/************************************
* site-menubar
*************************************/

.site-menubar {
  @include media-breakpoint-up(lg) {
    height: $menubar-top-height;
    width: 100%;
    &.stuck {
      position: fixed;
      top: $navbar-height;
      z-index: 998;
    }
  }

  @include media-breakpoint-down(md) {
    height: calc(100% - #{$navbar-height});
    width: $menubar-width;
    position: fixed;
    overflow: auto;
    top: $navbar-height;
    left: - ($menubar-width + 2);
    transition: left .2s, top .5s;

    body.menubar-open & {
      left: 0;
    }

    body.navbar-collapse-in & {
      top: 2 * $navbar-height;
      z-index: 999;
    }
  }
}

.site-menu {
  padding: 0;
  margin: 0;

  li {
    position: relative;
    list-style-type: none;
    font-size: .875rem;
  }
  
  li.menu-section-heading {
    padding: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    background: none !important;
  }

  li a {
    display: flex;
    height: 100%;
    padding: .875rem 1rem;
    text-decoration: none;
    align-items: center;
  }
  
  .menu-icon {
    width: 1rem;
  }
  
  .menu-text {
    margin-left: 1.5rem;
    margin-right: auto;
  }

  .menu-icon + .menu-text {
    margin-left: .5rem;
  }

  .menu-caret {
    transition: transform .5s ease-in-out;
  }
  
  li.open > a .menu-caret {
    transform: rotate(90deg);
  }

  .submenu {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    height: $menubar-top-height;
    
    li.menu-section-heading {
      display: none;
    }

    .menu-caret {
      margin-left: 1rem;
    }
    
    .submenu {
      min-width: 220px;
      z-index: 999;
    }
    
    li > .submenu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    
    > li > .submenu {
      top: 100%;
      left: 0;
    }

    li:hover > .submenu {
      display: block !important;
    }
  } // end media query
}