/* [14. site header] */
.site-header {
	ul, ol {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
	.jumbotron {
		display: flex;
		padding: 2rem 1.5rem;
		margin: 0;
	}

	.jumbotron-text { 
		flex: 2;

		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	.jumbotron-charts {
		display: flex;

		> .item { display: flex; }

		@include media-breakpoint-up(md) {
			.item + .item { margin-left: 2.5rem; }
		}

		@include media-breakpoint-down(sm) {
			flex-basis: 100%;
			justify-content: space-between;
		}

		@include media-breakpoint-down(xs) {
			flex-direction: column;
			.item {
				justify-content: space-between;
				margin-bottom: 2rem;
				&:last-child { margin-bottom: 0; }
			}
		}
	}
	
	.breadcrumb {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 0;
		padding: 0 1.5rem;
		border-top: 1px solid darken(#fff, 10%);
		
		&::after {
			display: none;
		}

		.btn-scondary {
			box-shadow: 0 0 1px #ccc;
			background: #fff;
			color: #6c6a6f;
		}
		
		ul, ol {
			display: flex;
			margin: .5rem 0;
		}
		
		.breadcrumb-tree {
			margin-right: 2.5rem;
		}

		ul li {
			margin-right: .5rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
