/* [6. Sidebar] */
.site-menubar {
  z-index: 998;

  @include media-breakpoint-up(md) {
    min-height: 2000px;
    flex: 0 0 $menubar-width-iconbar;
    overflow: visible;
    body.menubar-fold & {
      flex-basis: $menubar-width-fold;
    }
  }

  @include media-breakpoint-down(sm) {
    transition: left .2s, top .5s;
    top: $navbar-height;
    position: fixed;
    bottom: 0;
    height: calc(100% - #{$navbar-height}) !important;
    width: $menubar-width;
    left: - ($menubar-width + 2);
    overflow: auto;
    body.menubar-open & {
      left: 0;
    }

    body.navbar-collapse-in & {
      top: 2 * $navbar-height;
      z-index: 999;
    }
  }
}

.site-menu {
  padding: 0;
  margin: 0;

  li {
    position: relative;
    list-style-type: none;
    font-size: .875rem;
  }
  
  li.menu-section-heading {
    padding: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    background: none !important;
  }

  li a {
    height: 48px; 
    display: flex;
    padding: 0 1rem;
    align-items: center;
    text-decoration: none;
  }
  
  .menu-icon {
    width: 1rem;
  }
  
  .menu-text {
    margin-left: 1.5rem;
    margin-right: auto;
  }

  .menu-icon + .menu-text {
    margin-left: .5rem;
  }

  .menu-caret {
    transition: transform .5s ease-in-out;
  }
  
  li.open > a .menu-caret {
    transform: rotate(90deg);
  }

  .submenu {
    display: none;
  }
  
  .menu-heading {
    background: none !important;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: none;
  }

  @include media-breakpoint-up(md) {
    body:not(.menubar-fold) & {
      > li > a {
        height: auto; 
        padding: 1rem;
        align-content: center;
        flex-direction: column;
      }
      
      .menu-section-heading {display: none;}
      .submenu-fake {display: none !important;}
      
      .menu-icon {
        font-size: 1.75rem;
        margin-bottom: .5rem;
      }

      > li > a > .menu-text {
        margin: 0 !important;
      }
      
      > li > .submenu {
        background: darken($brand-primary, 4%);
      }

      > li > .submenu::before {
        content: '';
        position: absolute;
        top: 25px;
        left: -12px;
        border-right: 12px solid transparent;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
      }

      > li > .submenu-fake::before {display: none;}
    }

    body.menubar-fold & {
      li.menu-heading {
        display: block;
      }

      > li.menu-section-heading {
        display: none;
      }
    
      > li > a {
        justify-content: center;

        > .menu-text{ display: none; }
      }
      
      .submenu .menu-text {
        margin-left: 0
      }
    }
    
    > li > a > .menu-caret {
      display: none;
    }

    .submenu {
      width: $menubar-width;
    }
    
    .submenu a {
      padding-left: 1.5rem;
    }

    > li > .submenu {
      display: none !important;
      position: absolute;
      left: 100%;
      top: 0;
    }

    > li.open > .submenu {
      display: block !important;
    }
  } // end media query
}