---
title: Messaging App
body_classes: app-messaging site-header-hidden
page:
  styles:
    - ../assets/examples/css/apps/messaging.css
---

<div class="app-wrapper">
  <div class="app-panel" id="app-panel">
    <div class="app-search">
      <input type="search" class="search-field" placeholder="Search">
      <i class="search-icon fa fa-search"></i>
    </div><!-- /.app-search -->
      
    <div class="app-panel-inner py-2">
      <div class="scroll-container px-2">
        <div class="contacts-list">
          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/203.jpg" alt="Generic placeholder image">
              <i class="status status-online"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Tambra Caban</a></h5>
              <small>Web designer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->

          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/207.jpg" alt="Generic placeholder image">
              <i class="status status-busy"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Lillia Ecton</a></h5>
              <small>Developer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->

          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/205.jpg" alt="Generic placeholder image">
              <i class="status status-away"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Lezlie Randell</a></h5>
              <small>Engineer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->

          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/203.jpg" alt="Generic placeholder image">
              <i class="status status-online"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Tambra Caban</a></h5>
              <small>Web designer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->

          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/207.jpg" alt="Generic placeholder image">
              <i class="status status-busy"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Lillia Ecton</a></h5>
              <small>Developer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->

          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/205.jpg" alt="Generic placeholder image">
              <i class="status status-away"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Lezlie Randell</a></h5>
              <small>Engineer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->

          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/203.jpg" alt="Generic placeholder image">
              <i class="status status-online"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Tambra Caban</a></h5>
              <small>Web designer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->

          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/207.jpg" alt="Generic placeholder image">
              <i class="status status-busy"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Lillia Ecton</a></h5>
              <small>Developer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->

          <div class="panel-item media">
            <a href="javascript:void(0)" class="avatar avatar-circle avatar-sm">
              <img src="../assets/global/images/205.jpg" alt="Generic placeholder image">
              <i class="status status-away"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading mt-2"><a href="#">Lezlie Randell</a></h5>
              <small>Engineer</small>
            </div>
            <div class="connection-methods">
              <a href="#" class="btn btn-light p-2"><svg class="svg-phone-call-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#phone-call" /></svg></a>
              <a href="#" class="btn btn-light p-2"><svg class="svg-chat-bubble-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#chat-bubble" /></svg></a>
            </div>
          </div><!-- /.panel-item -->
        </div><!--/.contacts-list -->
      </div><!-- /.scroll-container -->
    </div><!-- /.app-panel-inner -->

    <!-- panel-toggle button -->
    <a href="#" class="app-panel-toggle" data-toggle="class" data-target="#app-panel" data-class="show">
      <i class="fa fa-chevron-right"></i>
      <i class="fa fa-chevron-left"></i>
    </a>
  </div><!-- /.app-panel -->

  <div class="app-main">
    <div class="app-main-header">
      <h5 class="app-main-heading"><a href="#">Micheal Mealy</a></h5>
    </div><!-- /.app-main-header -->
    
    <div class="app-main-content py-4">
      <div class="scroll-container px-4">
        <div class="messages-list">
          <div class="msg msg-in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quam voluptatum cum quia velit perspiciatis, hic facere reprehenderit ut quidem consequuntur amet. Doloribus obcaecati
          </div>

          <div class="msg msg-out">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magnam earum, aperiam!
          </div>

          <div class="msg msg-in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quam voluptatum cum quia velit perspiciatis, hic facere reprehenderit ut quidem consequuntur amet. Doloribus obcaecati
          </div>

          <div class="msg msg-out">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magnam earum, aperiam!
          </div>

          <div class="msg msg-in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quam voluptatum cum quia velit perspiciatis, hic facere reprehenderit ut quidem consequuntur amet. Doloribus obcaecati
          </div>

          <div class="msg msg-out">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magnam earum, aperiam!
          </div>

          <div class="msg msg-in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quam voluptatum cum quia velit perspiciatis, hic facere reprehenderit ut quidem consequuntur amet. Doloribus obcaecati
          </div>

          <div class="msg msg-out">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magnam earum, aperiam!
          </div>
        </div><!-- /.messages-list -->
      </div><!-- /.scroll-container -->
    </div><!-- /.app-main-content -->
    
    <div id="app-messaging-form">
      <input type="text" class="msg-form-field" placeholder="Type a message">
      <input type="submit" class="btn btn-success msg-form-submit" value="SEND">
    </div>
  </div><!-- /.app-main -->
</div><!-- /.app-wrapper -->
