<ul class="card-toolbar">
  <li><a href="javascript:void(0)"><i class="zmdi zmdi-refresh"></i></a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
    <div class="dropdown-menu float-right">
      <a class="dropdown-item" href="#">Option 1</a>
      <a class="dropdown-item" href="#">Option 2</a>
      <a class="dropdown-item" href="#">Option 3</a>
    </div>
  </li>
</ul><!-- /.card-toolbar -->
