<div class="mega-menu">
  <div class="mega-menu-section">
    <h6 class="mb-3">Featured Courses</h6>
    <div class="mega-links-list">
      <a href="#">Bootstrap</a>
      <a href="#">SASS Basics</a>
      <a href="#">HTML &amp; CSS</a>
      <a href="#">PHP For Beginners</a>
      <a href="#">SASS Best Practices</a>
      <a href="#">Javascript Intermediate</a>
    </div>
  </div><!-- /.mega-menu-section -->

  <div class="mega-menu-section">
    <div class="g__item mb-3">
      <figure class="g__figure">
        <a href="#"><img class="img-fluid" src="https://themes.tielabs.com/sahifa/wp-content/uploads/sites/3/2015/01/1806717289_6e97fe91c9_b-660x330.jpg" alt=""></a>
        <figcaption class="g__overlay">
          <i class="g__zoom fa fa-film fa-2x"></i>
        </figcaption>
      </figure>
    </div>
    <h6>Featured Video</h6>
    <span><i class="zmdi zmdi-time"></i> Jan 25, 2017</span>
  </div><!-- /.mega-menu-section -->

  <div class="mega-menu-section">
    <div class="mega-media-list">
      <div class="media mb-3">
        <div class="g__item mr-3 mb-0">
          <figure class="g__figure">
            <a href="#"><img src="../assets/global/images/blog-img-11.jpg" alt=""></a>
            <figcaption class="g__overlay">
              <i class="g__zoom fa fa-image fa-2x"></i>
            </figcaption>
          </figure>
        </div>
        <div class="media-body">
          <h6 class="media-heading"><a href="#">Your Guide To PHP</a></h6>
          <span>This is an excerpt</span>
          <span><i class="zmdi zmdi-time"></i> Apr 14, 2016</span>
        </div>
      </div><!-- /.media -->

      <div class="media mb-3">
        <div class="g__item mr-3 mb-0">
          <figure class="g__figure">
            <a href="#"><img src="../assets/global/images/blog-img-12.jpg" alt=""></a>
            <figcaption class="g__overlay">
              <i class="g__zoom fa fa-image fa-2x"></i>
            </figcaption>
          </figure>
        </div>
        <div class="media-body">
          <h6 class="media-heading"><a href="#">Javascript Weird Parts</a></h6>
          <span>This is an excerpt of the post</span>
          <span><i class="zmdi zmdi-time"></i> May 15, 2016</span>
        </div>
      </div><!-- /.media -->

      <div class="media">
        <div class="g__item mr-3 mb-0">
          <figure class="g__figure">
            <a href="#"><img src="../assets/global/images/blog-img-13.jpg" alt=""></a>
            <figcaption class="g__overlay">
              <i class="g__zoom fa fa-image fa-2x"></i>
            </figcaption>
          </figure>
        </div>
        <div class="media-body">
          <h6 class="media-heading"><a href="#">Bootstrap 4 Is Here</a></h6>
          <span>This is an excerpt of the post</span>
          <span><i class="zmdi zmdi-time"></i> Jan 25, 2016</span>
        </div>
      </div><!-- /.media -->
    </div><!-- /.mega-media-list -->
  </div><!-- /.mega-menu-section -->
</div><!-- /.mega-menu -->
