<!-- SEARCH FORM -->
<div class="s__form-wrap">
  <form action="#" class="s__form">
    <div class="s__form-inner">
      <div class="input-group s__form-input-group">
        <input type="text" class="form-control s__form-field" placeholder="Search Luxury...">
        <div class="input-group-btn">
          <button type="button" class="btn btn-light dropdown-toggle s__form-cats-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All<i class="zmdi zmdi-chevron-down ml-2"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">All</a>
            <a class="dropdown-item" href="#">Inbox</a>
            <a class="dropdown-item" href="#">Posts</a>
            <a class="dropdown-item" href="#">Projects</a>
          </div>
        </div>
      </div><!-- /.input-group -->

      <button class="btn btn-block btn-primary s__form-submit-btn">
        <i class="fa fa-search"></i>
      </button>
    </div><!-- /.s__form-inner -->
  </form>
</div><!-- /.s__form-wrap  -->

<!-- SEARCH TYPE -->
<div class="s__type-wrap">
  <ul class="d-flex justify-content-around s__type-list">
    <li class="active"><a href="search.html">Web</a></li>
    <li><a href="search.images.html">Images</a></li>
    <li><a href="search.apps.html">Apps</a></li>
    <li><a href="#">Videos</a></li>
  </ul>
</div><!-- /.s__form-wrap -->
