<div class="jumbotron jumbotron-fluid">
  <div class="jumbotron-text">
    <h4 class="text-primary">Welcome To {{brand}}</h4>
    <small class="font-italic text-muted">Bootstrap 4 Web App Kit</small>
  </div><!-- /.jumbotron-text -->

  <div class="jumbotron-charts">
    <div class="item">
      <div class="mr-3">
        <small class="d-block mb-1">STORE INCOME</small>
        <svg class="svg-euro-icon mr-1"><use xlink:href="../assets/global/svg-sprite/sprite.svg#euro" /></svg>
        <strong data-plugin="counterUp">6950</strong>
      </div>
      <div>
        <div class="jumbotron-chart mt-2" id="jumbotron_chart_1"></div>
      </div>
    </div><!-- /.item -->

    <div class="item">
      <div class="mr-3">
        <small class="d-block mb-1">ORDERS</small>
        <svg class="svg-caret-icon mr-1"><use xlink:href="../assets/global/svg-sprite/sprite.svg#caret" /></svg>
        <strong data-plugin="counterUp">7639</strong>
      </div>
      <div>
        <div class="jumbotron-chart mt-2" id="jumbotron_chart_2"></div>
      </div>
    </div><!-- /.item -->

    <div class="item">
      <div class="mr-3">
        <small class="d-block mb-1">SITE TRAFFIC</small>
        <svg class="svg-arrows-up-down-icon mr-1"><use xlink:href="../assets/global/svg-sprite/sprite.svg#arrows-up-down" /></svg>
        <strong data-plugin="counterUp">5673</strong>
      </div>
      <div>
        <div class="jumbotron-chart mt-2" id="jumbotron_chart_3"></div>
      </div>
    </div><!-- /.item -->
  </div><!-- /.jumbotron-charts -->
</div><!-- /.jumbotron -->

<div class="breadcrumb">
  <ol class="breadcrumb-tree">
    <li class="breadcrumb-item">
      <a href="#">
        <span class="zmdi zmdi-home mr-1"></span>
        <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item active"><a href="#">{{title}}</a></li>
  </ol>

  <ul class="breadcrumb-btns">
    <li class="dropdown">
      <a href="#" class="btn btn-sm btn-scondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="zmdi zmdi-settings mr-1 text-success"></i>
        <span class="mr-1">Settings</span>
        <i class="zmdi zmdi-chevron-down"></i>
      </a>
      <div class="dropdown-menu p-0 mt-1" data-plugin="dropdownCaret">
        <a class="dropdown-item dropdown-menu-cap">Your Settings</a>
        <a class="dropdown-item" href="#">Edit Profile</a>
        <a class="dropdown-item" href="#">Privacy Settings</a>
        <a class="dropdown-item" href="#">Secuirty Settings</a>
      </div>
    </li>
    <li>
      <a href="#" class="btn btn-sm btn-scondary">
        <i class="zmdi zmdi-headset-mic mr-1 text-success"></i>
        <span>Support</span>
      </a>
    </li>
    <li>
      <a href="#" class="btn btn-sm btn-scondary">
        <i class="zmdi zmdi-plus mr-1 text-success"></i>
        <span>Add</span>
      </a>
    </li>
  </ul>
</div><!-- /.breadcrumb -->
