<div class="mr-auto">
  <p class="text-primary mb-0">Made With <i class="fa fa-heart text-success"></i> By <a href="http://spantags.com/luxury/">SpanTags</a></p>
</div>
<div>
  <a href="https://themeforest.net/item/luxury-responsive-bootstrap-4-admin-template/20881509">Purchase {{brand}}</a>
</div>
