<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="nav-icon fa fa-bell-o"></i>
		<span class="badge badge-circle badge-danger">4</span>
	</a>
	<div class="media-list dropdown-menu p-0" data-plugin="dropdownCaret">
		<div class="dropdown-item dropdown-menu-cap d-flex">
			<span class="mr-auto my-1">You Have 4 Unread Notifications</span>
			<a href="#" class="btn btn-sm btn-light my-1">See all</a>
		</div>
		
		<div class="scroll-container">
			<a href="javascript:void(0)" class="media dropdown-item">
				<span class="avatar bg-success" data-plugin="firstLitter" data-target="#message-1"></span>
				<div class="media-body">
					<h6 class="media-heading" id="message-1">Mohamed Ali</h6>
					<small>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</small>
				</div>
			</a>

			<a href="javascript:void(0)" class="media dropdown-item">
				<span class="avatar bg-warning" data-plugin="firstLitter" data-target="#message-2"></span>
				<div class="media-body">
					<h6 class="media-heading" id="message-2">Sophia Smith</h6>
					<small>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</small>
				</div>
			</a>

			<a href="javascript:void(0)" class="media dropdown-item">
				<span class="avatar bg-primary" data-plugin="firstLitter" data-target="#message-3"></span>
				<div class="media-body">
					<h6 class="media-heading" id="message-3">Sarah Adams</h6>
					<small>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</small>
				</div>
			</a>

			<a href="javascript:void(0)" class="media dropdown-item">
				<span class="avatar bg-danger" data-plugin="firstLitter" data-target="#message-4"></span>
				<div class="media-body">
					<h6 class="media-heading" id="message-4">John Doe</h6>
					<small>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</small>
				</div>
			</a>
		</div><!-- /.scroll-container -->
	</div><!-- /.media-list -->
</li>

<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="nav-icon fa fa-envelope-o"></i>
		<span class="badge badge-circle badge-success">3</span>
	</a>
	<div class="media-list dropdown-menu p-0" data-plugin="dropdownCaret">
		<div class="dropdown-item dropdown-menu-cap d-flex">
			<span class="mr-auto my-1">You Have 3 Unread Messages</span>
			<a href="#" class="btn btn-sm btn-light my-1">See all</a>
		</div>
		<div class="scroll-container">
			<a href="javascript:void(0)" class="media dropdown-item">
				<div class="avatar">
					<img src="../assets/global/images/203.jpg" alt="">
					<span class="badge badge-success">5</span>
				</div>
				<div class="media-body">
					<h6 class="media-heading">Ahmed Gamal</h6>
					<small>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</small>
				</div>
			</a>

			<a href="javascript:void(0)" class="media dropdown-item">
				<div class="avatar">
					<img src="../assets/global/images/101.jpg" alt="">
					<span class="badge badge-success">9</span>
				</div>
				<div class="media-body">
					<h6 class="media-heading">Nick Pettit</h6>
					<small>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</small>
				</div>
			</a>

			<a href="javascript:void(0)" class="media dropdown-item">
				<div class="avatar">
					<img src="../assets/global/images/202.jpg" alt="">
					<span class="badge badge-success">1</span>
				</div>
				<div class="media-body">
					<h6 class="media-heading">Media heading</h6>
					<small>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</small>
				</div>
			</a>
		</div><!-- /.scroll-container -->
	</div><!-- /.media-list -->
</li>

<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<img class="nav-img" src="../assets/global/images/flags/United-States-of-America.png" alt="">
		<span class="nav-text hidden-sm-down ml-2">English</span>
		<i class="nav-caret hidden-sm-down zmdi zmdi-hc-sm zmdi-chevron-down"></i>
	</a>
	<div class="dropdown-menu p-0" data-plugin="dropdownCaret">
		<a class="dropdown-item dropdown-menu-cap">4 Languages</a>
		<a class="dropdown-item" href="#">
			<img src="../assets/global/images/flags/Egypt.png" class="mr-3 dropdown-item-icon" alt="">
			<span>Arabic</span>
		</a>
		<a class="dropdown-item" href="#">
			<img src="../assets/global/images/flags/United-States-of-America.png" class="mr-3 dropdown-item-icon" alt="">
			<span>English</span>
		</a>
		<a class="dropdown-item" href="#">
			<img src="../assets/global/images/flags/Spain.png" class="mr-3 dropdown-item-icon" alt="">
			<span>Spanish</span>
		</a>
	</div>
</li>

<li class="nav-item dropdown mega-dropdown">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="nav-text">Media</span>
		<i class="nav-caret zmdi zmdi-hc-sm zmdi-chevron-down"></i>
	</a>
	<div class="dropdown-menu mega-dropdown-menu p-0">
		<div class="scroll-container">
			{{> mega-menu}}
		</div><!-- /.scroll-container -->
	</div><!-- /.dropdown-menu -->
</li>
