<li class="nav-item">
  <div id="navbar-search" class="navbar-search">
    <form class="form-inline navbar-search-form">
      <input class="form-control navbar-search-field" type="text" placeholder="Search">
      <button type="submit" class="navbar-search-submit">
        <svg class="svg-search-icon"><use xlink:href="../assets/global/svg-sprite/sprite.svg#search" /></svg>
      </button>
      <button class="navbar-search-close" data-toggle="navbar-search">
        <i class="zmdi zmdi-close"></i>
      </button>
    </form>
    <div class="navbar-search-backdrop" data-toggle="navbar-search"></div>
  </div><!-- /.navbar-search -->
</li>

<li id="navbar-search-toggler" class="nav-item hidden-xl-up hidden-sm-down">
  <a class="nav-link" href="#" data-toggle="navbar-search">
    <span class="zmdi zmdi-hc-lg zmdi-search"></span>
  </a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link site-user dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="nav-img" src="../assets/global/images/user-img.png" alt="">
    <span class="nav-text hidden-sm-down ml-2">Daniel</span>
    <i class="nav-caret hidden-sm-down zmdi zmdi-hc-sm zmdi-chevron-down"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right p-0" data-plugin="dropdownCaret">
    <a class="dropdown-item dropdown-menu-cap">Daniel Alexander</a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-user-o mr-3"></i>
      <span>My Profile</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-list-ul mr-3"></i>
      <span>My Tasks</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-envelope-o mr-3"></i>
      <span>My Inbox</span>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
      <i class="fa fa-file-o mr-3"></i>
      <span>Lock Screen</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-power-off mr-3"></i>
      <span>Logout</span>
    </a>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link" href="#side-panel" data-toggle="class" data-class="open">
    <i class="zmdi zmdi-menu zmdi-hc-lg"></i>
  </a>
</li>
