<ul class="site-menu">
  <!-- MAIN NAVIGATION SECTION -->
  <li class="menu-section-heading">MAIN NAVIGATION</li>
  <li>
    <a href="index.html">
      <i class="menu-icon zmdi zmdi-home zmdi-hc-lg"></i>
      <span class="menu-text">Dashboard</span>
    </a>
  </li>
  
  <li>
    <a href="search.html">
      <i class="menu-icon zmdi zmdi-search zmdi-hc-lg"></i>
      <span class="menu-text">Search</span>
    </a>
  </li>
  
  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-pages zmdi-hc-lg"></i>
      <span class="menu-text">Pages</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="timeline.html"><span class="menu-text">Timeline</span></a></li>
      <li><a href="profile.html"><span class="menu-text">Profile</span></a></li>
      <li><a href="login.html"><span class="menu-text">Login</span></a></li>
      <li><a href="faq.html"><span class="menu-text">FAQ</span></a></li>
      <li><a href="price.html"><span class="menu-text">Price</span></a></li>
      <li><a href="blank.html"><span class="menu-text">Blank Page</span></a></li>
      <li>
        <a href="javascript:void(0)" class="submenu-toggle">
          <span class="menu-text">Error</span>
          <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
        </a>
        <ul class="submenu">
          <li><a href="404.html"><span class="menu-text">404</span></a></li>
          <li><a href="403.html"><span class="menu-text">403</span></a></li>
          <li><a href="500.html"><span class="menu-text">500</span></a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)" class="submenu-toggle">
          <span class="menu-text">Invoice</span>
          <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
        </a>
        <ul class="submenu">
          <li><a href="invoice.1.html"><span class="menu-text">Invoice v1</span></a></li>
          <li><a href="invoice.2.html"><span class="menu-text">Invoice v2</span></a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-blogger zmdi-hc-lg"></i>
      <span class="menu-text">Blog</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="blog.html"><span class="menu-text">Blog</span></a></li>
      <li><a href="article.html"><span class="menu-text">Blog Post</span></a></li>
    </ul>
  </li>
  
  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-image zmdi-hc-lg"></i>
      <span class="menu-text">Gallery</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="gallery.1.html"><span class="menu-text">Gallery v1</span></a></li>
      <li><a href="gallery.2.html"><span class="menu-text">Gallery v2</span></a></li>
      <li><a href="gallery.3.html"><span class="menu-text">Gallery v3</span></a></li>
    </ul>
  </li>

  <!-- FEATURES SECTION -->
  <li class="menu-section-heading">FEATURES</li>
  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-group zmdi-hc-lg"></i>
      <span class="menu-text">Layouts</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="../basic/index.html"><span class="menu-text">Basic</span></a></li>
      <li><a href="../iconbar/index.html"><span class="menu-text">Iconbar</span></a></li>
      <li><a href="../leftbar/index.html"><span class="menu-text">Leftbar</span></a></li>
      <li><a href="../topbar/index.html"><span class="menu-text">Topbar</span></a></li>
    </ul>
  </li>

  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-puzzle-piece zmdi-hc-lg"></i>
      <span class="menu-text">UI Kit</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="uikit.alerts.html"><span class="menu-text">Alerts</span></a></li>
      <li><a href="uikit.sweetalert.html"><span class="menu-text">Sweetalert</span></a></li>
      <li><a href="uikit.buttons.html"><span class="menu-text">Buttons</span></a></li>
      <li><a href="uikit.user-cards.html"><span class="menu-text">User Cards</span></a></li>
      <li><a href="uikit.blog-widgets.html"><span class="menu-text">Blog Cards</span></a></li>
      <li><a href="uikit.icons.html"><span class="menu-text">Font Icons</span></a></li>
    </ul>
  </li>
  
  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-pin zmdi-hc-lg"></i>
      <span class="menu-text">Maps</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="maps.google.html"><span class="menu-text">Google Maps</span></a></li>
      <li><a href="maps.jqvmap.html"><span class="menu-text">Vector Maps</span></a></li>
    </ul>
  </li>
  
  <!-- APPS SECTION -->
  <li class="menu-section-heading">APPS</li>
  <li>
    <a href="inbox.html">
      <i class="menu-icon zmdi zmdi-inbox zmdi-hc-lg"></i>
      <span class="menu-text">Mail Box</span>
    </a>
  </li>
  
  <li>
    <a href="messaging.html">
      <i class="menu-icon zmdi zmdi-twitch zmdi-hc-lg"></i>
      <span class="menu-text">Chat</span>
    </a>
  </li>

  <li>
    <a href="calendar.html">
      <i class="menu-icon zmdi zmdi-calendar zmdi-hc-lg"></i>
      <span class="menu-text">Calendar</span>
    </a>
  </li>
  
  <li>
    <a href="projects.html">
      <i class="menu-icon zmdi zmdi-case zmdi-hc-lg"></i>
      <span class="menu-text">Projects</span>
    </a>
  </li>
  
  <!-- DATA SECTION -->
  <li class="menu-section-heading">DATA</li>
  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-chart zmdi-hc-lg"></i>
      <span class="menu-text">Charts</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="charts.echarts.html"><span class="menu-text">Echarts</span></a></li>
      <li><a href="charts.flot.html"><span class="menu-text">Flot Cahrts</span></a></li>
      <li><a href="charts.chartist.html"><span class="menu-text">Chartist.js</span></a></li>
      <li><a href="charts.morris.html"><span class="menu-text">Morris Cahrts</span></a></li>
      <li><a href="charts.chartjs.html"><span class="menu-text">Chart.js</span></a></li>
    </ul>
  </li>
  
  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-check-all zmdi-hc-lg"></i>
      <span class="menu-text">Forms</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="form.wizard.html"><span class="menu-text">Wizard</span></a></li>
      <li><a href="form.validation.html"><span class="menu-text">Form Validation</span></a></li>
      <li><a href="form.fileupload.html"><span class="menu-text">File Upload</span></a></li>
      <li><a href="form.custom.html"><span class="menu-text">Custom Elements</span></a></li>
      <li><a href="form.datetime.html"><span class="menu-text">Date &amp; Time</span></a></li>
      <li><a href="form.wysiwyg-editor.html"><span class="menu-text">Summernote Editor</span></a></li>
      <li><a href="form.bs.html"><span class="menu-text">Bootstrap Forms</span></a></li>
    </ul>
  </li>

  <li>
    <a href="javascript:void(0)" class="submenu-toggle">
      <i class="menu-icon zmdi zmdi-storage zmdi-hc-lg"></i>
      <span class="menu-text">Tables</span>
      <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
    </a>
    <ul class="submenu">
      <li><a href="table.bs.html"><span class="menu-text">Bootstrap Tables</span></a></li>
      <li><a href="table.datatables.html"><span class="menu-text">DataTables</span></a></li>
    </ul>
  </li>

  <!-- OTHER SECTION -->
  <li class="menu-section-heading">OTHER</li>
  <li>
    <a href="documentation.html">
      <i class="menu-icon zmdi zmdi-file-text zmdi-hc-lg"></i>
      <span class="menu-text">Documentation</span>
    </a>
  </li>
</ul><!-- /.site-menu -->
