<!-- theme customizer -->
<div id="theme-customizer">
  <header class="p-4">
    <a href="https://themeforest.net/item/luxury-responsive-bootstrap-4-admin-template/20881509" class="btn btn-block btn-lg btn-primary fz-base">BUY {{brand}} NOW!</a>
    <hr>
    <div class="d-flex justify-content-between customizer-action-btns">
      <button id="customizerResetButton" class="btn btn-outline-danger">Reset</button>
      <button id="customizerSaveButton" class="btn btn-outline-success">Save</button>
    </div>
  </header>
  
  <div class="theme-customizer-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="navbar-tab" data-toggle="tab" href="#navbar" role="tab" aria-controls="navbar" aria-expanded="true">Navbar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="menubar-tab" data-toggle="tab" href="#menubar" role="tab" aria-controls="menubar" aria-expanded="true">Menubar</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane p-4 fade show active" id="navbar" role="tabpanel" aria-labelledby="navbar-tab">
        <div>
          <input id="navbarDark" data-toggle="navbarDark" type="checkbox" data-plugin="switchery" data-size="small" />
          <label for="navbarDark" class="ml-3">Navbar Dark</label>
        </div>
        <hr>
        <h6 class="mb-4">Navbar Skin</h6>
        <div class="mb-3">
          <div class="radio radio-indigo">
            <input type="radio" id="nb-skin-2" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-indigo">
            <label for="nb-skin-2">Indigo</label>
          </div>
        </div>

        <div class="mb-3">
          <div class="radio radio-blue">
            <input type="radio" id="nb-skin-4" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-blue">
            <label for="nb-skin-4">Blue</label>
          </div>
        </div>

        <div class="mb-3">
          <div class="radio radio-cyan">
            <input type="radio" id="nb-skin-6" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-cyan">
            <label for="nb-skin-6">Cyan</label>
          </div>
        </div>

        <div class="mb-3">
          <div class="radio radio-orange">
            <input type="radio" id="nb-skin-5" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-orange">
            <label for="nb-skin-5">Orange</label>
          </div>
        </div>


        <div class="mb-3">
          <div class="radio radio-red">
            <input type="radio" id="nb-skin-7" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-red">
            <label for="nb-skin-7">Red</label>
          </div>
        </div>

        <div class="mb-3">
          <div class="radio radio-pink">
            <input type="radio" id="nb-skin-13" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-pink">
            <label for="nb-skin-13">Pink</label>
          </div>
        </div>

        <div class="mb-3">
          <div class="radio radio-purple">
            <input type="radio" id="nb-skin-12" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-purple">
            <label for="nb-skin-12">Purple</label>
          </div>
        </div>

        <div class="mb-3">
          <div class="radio radio-green">
            <input type="radio" id="nb-skin-8" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-green">
            <label for="nb-skin-8">Green</label>
          </div>
        </div>

        <div class="mb-3">
          <div class="radio radio-teal">
            <input type="radio" id="nb-skin-9" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-teal">
            <label for="nb-skin-9">Teal</label>
          </div>
        </div>

        <div class="mb-3">
          <div class="radio radio-brown">
            <input type="radio" id="nb-skin-10" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-brown">
            <label for="nb-skin-10">Brown</label>
          </div>
        </div>

        <div>
          <div class="radio radio-gray">
            <input type="radio" id="nb-skin-11" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-gray">
            <label for="nb-skin-11">Gray</label>
          </div>
        </div>
      </div><!-- /.tab-pane -->

      <div class="tab-pane fade p-4" id="menubar" role="tabpanel" aria-labelledby="menubar-tab">
        <div>
          <input id="menubarDark" data-toggle="menubarDark" type="checkbox" data-plugin="switchery" data-size="small" />
          <label for="menubarDark" class="ml-3">Menubar Dark</label>
        </div>
        <hr>
        <div id="menubar-fold-wrap" class="hidden-top hidden-sm-down">
          <input id="menubarFold" data-toggle="menubarFold" type="checkbox" data-plugin="switchery" data-size="small" />
          <label for="menubarFold" class="ml-3">Menubar Folded</label>
        </div>
      </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->


    <div id="theme-customizer-toggler" data-toggle="class" data-target="#theme-customizer" data-class="show">
      <i class="fa fa-gear fa-2x"></i>
    </div>
  </div><!-- /.theme-customizer-body -->
</div><!-- /.theme-customizer -->
