---
title: Article
body_classes: blod-page single-post-page
page:
  styles:
    - ../assets/examples/css/pages/blog.css
---

      <div class="card mb-5 bg-faded p-2 widget-blog-post">
        <div class="cover">
          <img class="card-img-top" src="../assets/global/images/blog-img-05.jpg" alt="Card image cap">
          <div class="cover-overlay">
            <img class="avatar-floating-left avatar avatar-circle avatar-xl" src="../assets/global/images/217.jpg" alt="">
          </div>
        </div>
        <div class="card-body mt-4">
          <h5 class="mb-4">This Is A Random Post Heading</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis obcaecati autem, fuga enim officia nulla blanditiis sed, veritatis rerum eum eligendi impedit ut. Magni unde, architecto! Iusto delectus earum tempore perferendis labore tempora ratione inventore ut mollitia pariatur quod animi, neque voluptatem quam quasi aperiam, aliquam explicabo consectetur voluptatum, culpa.</p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aliquid accusamus, eius. Molestias totam excepturi consequuntur recusandae suscipit deleniti, a vero dolore mollitia voluptate repellendus autem porro quia obcaecati dolores doloremque aut nostrum itaque quos asperiores! Modi quae ab dolorum nisi temporibus cupiditate, reiciendis in distinctio error labore perspiciatis, ullam quas ad sit, soluta deserunt a at placeat! Sed atque, perspiciatis saepe sequi. Eum vitae, unde delectus ullam aliquam enim cupiditate? Fugit perspiciatis, dignissimos aperiam incidunt, sequi quas nisi nihil asperiores optio adipisci quam amet quidem hic harum cumque autem sed at minus earum? Voluptas sed pariatur quisquam. Doloremque architecto totam, aliquid vero quasi quia quae, veritatis in illum fuga eaque cumque nisi, dolorem dicta minus. Adipisci quas deleniti ratione.</p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aliquid accusamus, eius. Molestias totam excepturi consequuntur recusandae suscipit deleniti, a vero dolore mollitia voluptate repellendus autem porro quia obcaecati dolores doloremque aut nostrum itaque quos asperiores! Modi quae ab dolorum nisi temporibus cupiditate, reiciendis in distinctio error labore perspiciatis, ullam quas ad sit, soluta deserunt a at placeat! Sed atque, perspiciatis saepe sequi. Eum vitae, unde delectus ullam aliquam enim cupiditate? Fugit perspiciatis, dignissimos aperiam incidunt, sequi quas nisi nihil asperiores optio adipisci quam amet quidem hic harum cumque autem sed at minus earum? Voluptas sed pariatur quisquam. Doloremque architecto totam, aliquid vero quasi quia quae, veritatis in illum fuga eaque cumque nisi, dolorem dicta minus. Adipisci quas deleniti ratione.</p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis possimus aut.</p>
        </div>
      </div><!-- /.card -->

      <div class="text-center">
        <button class="btn btn-lg btn-success px-5 py-3">LEAVE A COMMENT</button>
      </div>

      <div class="mt-4">
        <h3 class="mb-4">4 Comments</h3>
        <div class="card bg-faded p-3 border-radius-1">
          <div class="p-3 media align-items-start">
            <a href="#" class="avatar avatar-circle avatar-lg"><img src="../assets/global/images/201.jpg" alt=""></a>
            <div class="media-body">
              <h6>Bertha Bobier</h6>
              <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsum dolores eius molestiae?</p>
              <a href="#" class="font-italic font-weight-normal">Reply</a>
            </div>
          </div><!-- /.media -->

          <div class="replies border-radius-1" style="background: rgba(255,255,255,.7); margin: 0 6.5rem;">
            <div class="p-3 media align-items-start border-b-1">
              <a href="#" class="avatar avatar-circle avatar-sm"><img src="../assets/global/images/202.jpg" alt=""></a>
              <div class="media-body">
                <h6>Sydney Soros</h6>
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsum dolores eius molestiae?</p>
              </div>
            </div><!-- /.media -->

            <div class="p-3 media align-items-start">
              <a href="#" class="avatar avatar-circle avatar-sm"><img src="../assets/global/images/205.jpg" alt=""></a>
              <div class="media-body">
                <h6>Demarcus Liverman</h6>
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsum dolores eius molestiae?</p>
              </div>
            </div><!-- /.media -->
          </div><!-- /.replies -->
        </div><!-- /.card -->

        <div class="card p-3 bg-faded border-radius-1">
          <div class="p-3 media align-items-start">
            <a href="#" class="avatar avatar-circle avatar-lg"><img src="../assets/global/images/204.jpg" alt=""></a>
            <div class="media-body">
              <h6>Vada Rogg</h6>
              <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsum dolores eius molestiae?</p>
              <a href="#" class="font-italic font-weight-normal">Reply</a>
            </div>
          </div><!-- /.media -->
        </div><!-- /.card -->
      </div><!-- /.mt-4 -->