/* [14 header theme] */
.site-header {  
  .jumbotron,
  .breadcrumb {
    background: darken($bg-faded, 1%);
  }

  .breadcrumb {
    border-top-color: darken(#fff, 10%);
    border-bottom: 1px solid $border-color-default;
  }
}