<ion-view title="Babble" hide-nav-bar="true" nav-transition="none" id="page12" class="grad">
  <ion-content padding="false" style="background: url(img/grad) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div id="babble-container9" class="top-container2">
      <div class="spacer" style="width: 320px; height: 50px;"></div>
      <div>
        <img src="img/IsbLW2jLTKW9vhQCiEGq_Logo2White.png" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 320px; height: 54px;"></div>
      <div id="babble-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">This mobile application has been created by
          <strong>Jordan Brannan</strong> for his
          <strong>BSc Computer Science</strong> final project at
          <strong>Goldsmiths College, University of London</strong>.</p>
      </div>
      <div class="spacer" style="width: 320px; height: 12px;"></div>
      <a ui-sref="menu.conversations({})" id="babble-button50" ng-click="submit()" style="color:#FFFFFF;" class="button button-light button-block button-clear">Get Started</a>
    </div>
    <div id="babble-container10" class="bottom-container">
      <div id="babble-button-bar6" class="button-bar">
        <a ui-sref="menu.privacy()" id="babble-button43" style="color:#FFFFFF;" class="button button-positive button-block button-clear">Privacy</a>
        <a ui-sref="menu.terms()" id="babble-button45" style="color:#FFFFFF;" class="button button-positive button-block button-clear">Terms</a>
      </div>
    </div>
  </ion-content>
</ion-view>