---
title: Search | Images
body_classes: page-search page-search-images
page:
  styles:
    - ../assets/examples/css/pages/search.css
---

      <!-- SEARCH PAGE TOP -->
      {{> search-page-top}}

      <!-- SEARCH RESULTS -->
      <div class="s__results s__results-images">
        <div class="img-gallery img-gallery-zoom-effect">
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-12.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-13.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-14.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-15.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-16.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-17.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-18.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-19.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-110.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-111.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-112.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-113.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-114.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-lg-4">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-115.jpg" alt="">
                  <figcaption class="g__overlay justify-content-between">
                    <h5 class="g__overlay-title">This Text Is A Dummy Image Caption Title</h5>
                    <div class="g__overlay-text">01/07/2016</div>
                  </figcaption>
                </figure>
                <div class="mt-2 clearfix">
                  {{> gallery-item-counters}}
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->
          </div><!-- /.row -->
        </div><!-- /.img-gallery -->
      </div><!-- /.s__results -->