---
title: Search | Images
body_classes: page-search page-search-apps
page:
  styles:
    - ../assets/examples/css/pages/search.css
---

      <!-- SEARCH PAGE TOP -->
      {{> search-page-top}}

      <!-- SEARCH RESULTS -->
      <div class="s__results s__results-apps">
        <div class="img-gallery">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-12.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-13.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-14.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-15.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-16.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-17.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-18.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-19.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-110.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-111.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->

            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="g__item g__thumb">
                <figure class="g__figure">
                  <img src="../assets/global/images/blog-img-112.jpg" alt="">
                  <figcaption class="g__overlay">
                    <h5 class="g__overlay-title">My Awesome App</h5>
                    <div class="g__overlay-text">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </figcaption>
                </figure>
                <div class="text-center mt-3 mb-2">
                  <a href="#" class="btn text-primary btn-light px-4 mr-3"><i class="zmdi zmdi-hc-lg zmdi-case-play"></i></a>
                  <a href="#" class="btn text-primary btn-light px-4"><i class="zmdi zmdi-hc-lg zmdi-apple"></i></a>
                </div>
              </div><!-- /.g__item -->
            </div><!-- /.col- -->
          </div><!-- /.row -->
        </div><!-- /.img-gallery -->
      </div><!-- /.s__results -->
