---
title: Search | Web
body_classes: page-search page-search-web
page:
  styles:
    - ../assets/examples/css/pages/search.css
---

      <!-- SEARCH PAGE TOP -->
      {{> search-page-top}}

      <!-- SEARCH RESULTS -->
      <div class="s__results s__results-web">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-muted font-italic mb-3">
              About 3,254,245 results found (.35 seconds)
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h5><a href="#">Website Templates &amp; Themes From ThemeForest</a></h5>
                  <div class="mb-1"><a href="#" class="text-success">https://<strong>themeforest</strong>.net</a></div>
                  <div class="text-muted">Discover 27437 Website Templates and Themes from $2 on <strong>ThemeForest</strong>, the #1 marketplace for Website Templates.</div>
                </div>
              </div><!-- /.col- -->

              <div class="col-md-6">
                <div class="mb-3">
                  <h6><a href="#">Wordpress Themes</a></h6>
                  <div class="text-muted">Get 7665 WordPress Themes on <strong>ThemeForest</strong>. Buy Premium</div>
                </div>

                <div class="mb-3">
                  <h6><a href="#">Site Templates</a></h6>
                  <div class="text-muted">Get 8129 HTML Website Templates on <strong>ThemeForest</strong></div>
                </div>

                <div class="mb-3">
                  <h6><a href="#">Wordpress Blog Themes</a></h6>
                  <div class="text-muted">Get 1615 WordPress blog themes &amp; magazine themes. All from </div>
                </div>
              </div><!-- /.col- -->

              <div class="col-md-6">
                <div class="mb-3">
                  <h6><a href="#">Popular wordpress themes</a></h6>
                  <div class="text-muted">Browse 2016's Best Selling WordPress Themes from</div>
                </div>

                <div class="mb-3">
                  <h6><a href="#">Creative</a></h6>
                  <div class="text-muted">Get 1950 beautiful &amp; creative WordPress themes. All from our </div>
                </div>

                <div class="mb-3">
                  <h6><a href="#">Magento</a></h6>
                  <div class="text-muted">Get 736 Magento themes &amp; templates. All from our global </div>
                </div>
              </div><!-- /.col- -->
            </div><!-- /.row -->
          </div><!-- /.col- -->
        </div><!-- /.s__results-first -->
        
        <hr class="my-4">
        
        <div class="row">
          <div class="col-lg-8">
            <div class="mb-4">
              <h5><a href="#">Sign in to ThemeForest - Envato Account</a></h5>
              <div class="mb-1"><a href="#" class="text-success">https://account.envato.com/sign_in?to=<strong>themeforest</strong></a></div>
              <div class="text-muted">Your Envato Account gives you access not just to <strong>ThemeForest</strong>, but also to the other Envato Market sites listed below. They're stocked with everything from</div>
            </div>

            <div class="mb-4">
              <h5><a href="#">Envato Market</a></h5>
              <div class="mb-1"><a href="#" class="text-success">https://market.envato.com/</a></div>
              <div class="text-muted"><strong>ThemeForest</strong>. Launch beautiful, responsive websites faster with themes and templates for WordPress, Joomla, Drupal, Magento, Landing Pages and more.</div>
            </div>

            <div class="mb-4">
              <h5><a href="#">ThemeForest 22 days - Envato Marketplace Review Times</a></h5>
              <div class="mb-1"><a href="#" class="text-success">quality.market.envato.com/<strong>themeforest</strong></a></div>
              <div class="text-muted">Review Turnaround For <strong>ThemeForest</strong>. Times are indicative only, based on the average wait time for each site over the last 7 days. 3DOcean, AudioJungle</div>
            </div>

            <div class="mb-4">
              <h5><a href="#">ThemeForest (@ThemeForest) | Twitter</a></h5>
              <div class="mb-1"><a href="#" class="text-success">https://twitter.com/<strong>themeforest</strong>?lang=en</a></div>
              <div class="text-muted">The latest Tweets from <strong>ThemeForest</strong> (<strong>@ThemeForest</strong>). The world leader in premium website themes and templates. Follow the community too <strong>#themeforest</strong>.</div>
            </div>

            <div class="mb-4">
              <h5><a href="#">Buy Plugins &amp; Code from CodeCanyon</a></h5>
              <div class="mb-1"><a href="#" class="text-success">https://codecanyon.net/</a></div>
              <div class="text-muted">Off the Shelf - Responsive E-Book Landing Page - <strong>ThemeForest</strong> Item for Sale. <strong>ThemeForest</strong>; 3D Simple Transitions Pack - VideoHive Item for Sale VideoHive.</div>
            </div>

            <div class="mb-4">
              <h5><a href="#">ThemeForest - DataTables</a></h5>
              <div class="mb-1"><a href="#" class="text-success">https://datatables.net/manual/styling/themeforest</a></div>
              <div class="text-muted"><strong>ThemeForest</strong>. If you haven't come across <strong>ThemeForest</strong> yet, it is a site where HTML/CSS authors can publish their work as templates for you to use on your sites.</div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.s__results -->
