---
title: FAQ
body_classes: page-faq
---

<div class="mb-4">
  <h3 class="display-4">FAQ</h3>
  <p class="text-muted">Here is a list of frequently asked questions. if you didn't find any satisfying answer please ask your question below.</p>
</div>

<div class="row">
  <div class="col-lg-8">
    <div id="faq-accordion" class="accordion-custom" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <a class="card-heading" data-toggle="collapse" href="#collapseOne" data-parent="#faq-accordion" aria-expanded="true" aria-controls="collapseOne">
            How Much Luxury Costs ?
          </a>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Food truck quinoa nesciunt laborum eiusmod.
          </div>
        </div>
      </div><!-- /.card -->

      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <a class="collapsed card-heading" data-toggle="collapse" href="#collapseTwo" data-parent="#faq-accordion" aria-expanded="false" aria-controls="collapseTwo">
            Can I Get Additional Support After 6 Month ?
          </a>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-body">
            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt.
          </div>
        </div>
      </div><!-- /.card -->

      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <a class="collapsed card-heading" data-toggle="collapse" href="#collapseThree" data-parent="#faq-accordion" aria-expanded="false" aria-controls="collapseThree">
            How To Customize The Theme ?
          </a>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
          </div>
        </div>
      </div><!-- /.card -->

      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <a class="collapsed card-heading" data-toggle="collapse" href="#collapseFour" data-parent="#faq-accordion" aria-expanded="false" aria-controls="collapseFour">
            Is It Possible To Use Luxury As A Social Media Dashboard ?
          </a>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt.
          </div>
        </div>
      </div><!-- /.card -->

      <div class="card">
        <div class="card-header" role="tab" id="headingFive">
          <a class="collapsed card-heading" data-toggle="collapse" href="#collapseFive" data-parent="#faq-accordion" aria-expanded="false" aria-controls="collapseFive">
            How Many Layouts Luxury Has
          </a>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
          </div>
        </div>
      </div><!-- /.card -->
    </div><!-- /.faq-accordion -->
  </div><!-- /.col -->

  <div class="col-lg-4">
    <form action="#">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Subject">
      </div>
      <div class="form-group">
        <textarea name="#" id="#" class="form-control" rows="5" placeholder="Question.."></textarea>
      </div>
      <input type="submit" class="btn btn-primary btn-block">
    </form>
  </div><!-- /.col -->
</div><!-- /.row -->
