---
title: Timeline
body_classes: no-padding page-timeline
page:
  styles:
    - ../assets/examples/css/pages/timeline.css
---

      <div class="timeline-wrapper">
        <div class="pk-timeline">
          <div class="pk-tl-block">
            <div class="pk-tl-icon"><i class="fa fa-file-text-o"></i></div>
            <div class="pk-tl-info"><strong>11-17-2016</strong><br>posted a new blog</div>
            <div class="pk-tl-content">
              <div class="pk-tl-avatar"><img src="../assets/global/images/201.jpg" alt=""></div>
              <div class="pk-tl-content-text">
                <h5>Lorem ipsum dolor sit amet.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam veritatis, excepturi sunt. Nobis maxime voluptate aspernatur vero quisquam provident sint mollitia debitis repellat, voluptas perspiciatis iusto, nulla fuga quia libero!</p>
              </div>
            </div><!-- /.pk-tl-content -->
          </div><!-- /.pk-tl-block -->
          
          <div class="pk-tl-block">
            <div class="pk-tl-icon"><i class="fa fa-photo"></i></div>
            <div class="pk-tl-info"><strong>11-17-2016</strong><br>posted a new blog</div>
            <div class="pk-tl-content">
              <div class="pk-tl-avatar"><img src="../assets/global/images/209.jpg" alt=""></div>
              <div class="pk-tl-content-media">
                <img src="../assets/global/images/blog-img-01.jpg" alt="">
              </div>
            </div><!-- /.pk-tl-content -->
          </div><!-- /.pk-tl-block -->

          <div class="pk-tl-block">
            <div class="pk-tl-icon"><i class="fa fa-photo"></i></div>
            <div class="pk-tl-info"><strong>11-17-2016</strong><br>posted a new blog</div>
            <div class="pk-tl-content">
              <div class="pk-tl-avatar"><img src="../assets/global/images/210.jpg" alt=""></div>
              <div class="pk-tl-content-media">
                <img src="../assets/global/images/blog-img-05.jpg" alt="">
              </div>
            </div><!-- /.pk-tl-content -->
          </div><!-- /.pk-tl-block -->
        
          <div class="pk-tl-block">
            <div class="pk-tl-icon"><i class="fa fa-file-text-o"></i></div>
            <div class="pk-tl-info"><strong>11-17-2016</strong><br>posted a new blog</div>
            <div class="pk-tl-content">
              <div class="pk-tl-avatar"><img src="../assets/global/images/211.jpg" alt=""></div>
              <div class="pk-tl-content-text">
                <h5>Lorem ipsum dolor sit amet.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam veritatis, excepturi sunt. Nobis maxime voluptate aspernatur vero quisquam provident sint mollitia debitis repellat, voluptas perspiciatis iusto, nulla fuga quia libero!</p>
              </div>
            </div><!-- /.pk-tl-content -->
          </div><!-- /.pk-tl-block -->
        </div><!-- /.pk-timeline -->
      </div><!-- /.timeline-wrapper -->
